<!-- Theme Config Js -->
<script src="assets/js/hyper-config.js"></script>

<!-- Vendor css -->
<link href="assets/css/vendor.min.css" rel="stylesheet" type="text/css" />

<!-- App css -->
<link href="assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="assets/css/unicons/css/unicons.css" rel="stylesheet" type="text/css" />
<link href="assets/css/remixicon/remixicon.css" rel="stylesheet" type="text/css" />
<link href="assets/css/mdi/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />